    * {
        box-sizing: border-box;
    }
    
    body {
        background: lightgray;       
    }

    #myhead {
    top: 0;
    font-size: 2em;
    text-align: center!important;
    }

    header {
        background: brown;
        width: 100;   
    }

    nav {
        max-width: 900px;
        margin: 0 auto;
        overflow: hidden;
    }

    nav ul {
        margin-left: 1px;
        display: block;
        max-width: 660px;
        float: right;
    }

    main {
        max-width: 900px;
        margin: 0 auto;
        overflow: hidden;
    }

    main > *{
        float: left;
    }

    #allProducts{
        display: grid;
        grid-row-gap: 5px;
        grid-template-columns: auto auto auto;
        background-color: #2196F3;
        padding: 100px;
        border-radius: 25%;
    }

    #left_photo_img{
        margin-left: 10px;
        margin-right: 20px;
        width: 200%;
        height: 100%;      
    }

    #middle_photo_img{
        height: 100%;
        width: 200%;
        margin: center;
    }

    #right_photo_img{
        float: left;
        width: 200%;
        height: 100%;
        margin-right:10px;
        margin-left: 20px;
        margin-bottom: 0.5em;
        text-align: center;
    }

    #my-nav > li{
        display: inline-block;
        list-style: none;
        margin: 20px 40px 20px 0px;
        font-size: 1.2em;
    }

    #list-of-images{
        display: inline-block;
        list-style: none;
        margin: 20px 40px 0px;
        font-size: 1em;
    }

    main ul, main li {
        padding: 0;
        margin: 10px 0;
    }

    section div {
        padding: 7px;
        box-sizing: border-box;
        float: left;
        width: 50%
    }

    section#results {
        width: 660px;
        margin: auto;
    }

    div {
        width: 500px;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }